html, body, p, button{
	padding: 0;
	margin: 0;
}
body.active{
	background-color: rgba(0, 0, 0, 0.575);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}
@font-face {
    font-family: vision-heavy;
    src: url(media/font/Vision-Heavy.otf);
}
@font-face {
    font-family: bariol;
    src: url(media/font/Bariol_Regular.otf);
}
.container{
	height: 600px;
	width: 900px;
	margin:auto;
}
body{
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "bariol", sans-serif;
    color: rgb(255, 255, 255);
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
.cont-content{
	background: linear-gradient(-45deg, rgb(52, 37, 255), rgb(49, 0, 163), rgb(0, 96, 131), rgb(2, 173, 102));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
	height: calc(100% - 179px);
	width: calc(100% - 120px);
	padding: 60px;
}
.cont-waiting{
	background: #4c92fc;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.flex{
    display: flex;
}
/*######################################################*/
/* ###############         BUTTON        ###############*/
/*######################################################*/
button{
	cursor: pointer;
	border: 0;
}
.btn{
	width: 236px;
	height: 77px;
	font-family: "vision-heavy", sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	color: rgb(255, 255, 255); /*Kolor napisów wyplac/wplac/przelew*/
	position: relative;
	overflow: hidden;
	text-align: left;
	display: flex;
	padding-left: 20px;
}
.btn .icon{
	line-height: 38px;
    margin-right: 20px;
}
.btn span:last-child{
	font-size: 15px;
	font-family: "bariol", sans-serif;
	text-transform: none;
}
.btn i{
	position: absolute;
    transform: rotate(10deg);
    font-size: 130px;
    left: -19%;
    top: -34%;
    opacity: 0.1;
    transition-duration: 0.3s;
}
.btn-blue{
    background: #008ada;
    border-radius: 10px;
}
.btn-blue span:last-child{
    color: #ffffff;
}
.btn-violet{
    background: #008ada;
    border-radius: 10px;
}
.btn-violet span:last-child{
	color: #ffffff;
}
.btn-orange{
    background: #008ada;
    border-radius: 10px;
}
.btn-orange span:last-child{
	color: #ffffff;
}
.btn-green{
	background: #0066ff;
}
.btn-green span:last-child{
	color: #ffffff;
}
.btn-grey{
	background: #669cce;
}
.btn-grey span:last-child{
	color: #ffffff;
}
.btn:hover i{
	transform: rotate(0deg);
	font-size: 150px;
}
/*######################################################*/
/* ###############        TOP BAR        ###############*/
/*######################################################*/
.topbar{
	background: linear-gradient(to right, #1966f7 , #130177);
    height: 59px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.parale-1{
	width: 460px;
    height: 120px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white; /*To takie w gornym pasku po zalogowaniu*/
    opacity: 0.2;
}

.cont-p-1{
	transform: rotate(-11deg);
    position: absolute;
    left: -281px;
    top: -23px;
}
.parale-2{
	width: 430px;
    height: 120px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white; /*To takie w gornym pasku po zalogowaniu 2*/
    opacity: 0.2;
}
.cont-p-2{
	transform: rotate(-10deg);
    position: absolute;
    left: 176px;
    top: -80px;
}
.parale-3{
	width: 200px;
    height: 60px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white; /*To takie w gornym pasku po zalogowaniu 3*/
    opacity: 0.2;
}
.cont-p-3{
	transform: rotate(-10deg);
    position: absolute;
    left: 720px;
    top: 25px;
}
nav{
	width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1;
}
.btn-sign-out{
	color: white; /*Kolor napisu z zapytaniem czy chcesz zakończyć obecną sejse*/
	background: rgba(0,0,0,0);
	font-size: 20px;
	font-family: "bariol", sans-serif;
}
.btn-sign-out i{
	font-size: 15px;
    margin-left: 20px;
    transition-duration: 0.3s;
}
.btn-sign-out:hover i{
	margin-left: 10px;
}
.logo-topbar{
	height: 32px;
    width: 108px;
    background-image: url(media/img/logo-top.png);
    background-repeat: no-repeat;
}
/*######################################################*/
/* ###############       MAIN MENU       ###############*/
/*######################################################*/
.balance{
	width: 403px;
    height: 183px;
    background: rgba(168, 168, 168, 0.404);
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 40px;
    color: #414141;
    font-size: 16px;
    background-image: url(media/img/curve.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 495px;
    border-radius: 10px;
}
.balance .name{
    position: relative;
	font-size: 30px;
	color: #ffffff;
    bottom: 22px;
    right: 20px;
    display: block;
    font-family: "vision-heavy", sans-serif;
}
.balance .money{
    position: relative;
    left: 20px;
    float: right;
    bottom: 85px;
	font-size: 30px;
	color: #ffffff;
    font-family: "vision-heavy", sans-serif;
}
.balance .money .dollars{
	color: #ffffff;
}
#balance-info{
    position: relative;
    float: right;
    bottom: 85px;
    left: 20px;
}
#name-info{
    position: relative;
    float: left;
    bottom: 25px;
    right: 20px;
}
.list-btn{
	height: 263px;
	width: 236px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.pub{
	width: 360px;
	height: 98px;
    position: relative;
}
.confiance{
	margin-right: 60px;
	display: flex;
	justify-content: space-between;
}
.confiance p{
	width: 235px;
	color: #ffffff;
	font-size: 16px;
	margin: 25px 0 0 20px;
}
.confiance p span{
	text-transform: uppercase;
	font-size: 16px;
	color: #ffffff;
	font-family: "vision-heavy",sans-serif;
}
.euro-img{
    width: 300px;
	height: 150px;
    background-image: url(media/img/eur.png);
    background-repeat: no-repeat;
    background-size: 225px;
    margin-left: 30px;
    margin-top: 5px;
}
.dollar-img{
    width: 300px;
	height: 150px;
    background-image: url(media/img/usd.png);
    background-repeat: no-repeat;
    background-size: 225px;
    margin-left: 80px;
    margin-top: 5px;
}
.social{
	background-image: url(media/img/logo.png);
	background-repeat: no-repeat;
	background-position-y: 1px;
    background-position-x: 230px;
}
.graph{
	width: 275px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: 15px;
	margin-left: 16px;
}

/*######################################################*/
/* ###############     WITHDRAW MENU      ###############*/
/*######################################################*/

.banniere{
	width: 464px;
	margin-right: 60px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
	margin-top: 60px;
}
label{
	margin-bottom: 10px;
	font-size: 17px;
	color: #ffffff;
	font-family: "bariol", sans-serif;
}
.input-cont{
	width: 720px;
    height: 87px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 60px;
}
.input-cont input{
	width: 100%;
    height: 50px;
    text-align: center;
    border: 0;
    font-size: 60px;
    color: #001d9e;
    font-family: "vision-heavy",sans-serif;
}
.input-cont input::-webkit-input-placeholder {
  color: #001d9e;
}
.double-input{
	display: flex;
	justify-content: space-between;
}
.double-input .input-cont{
	width: 300px;
}
.double-input input{
	font-size: 35px;
}
/*######################################################*/
/* ###############        WAITING        ###############*/
/*######################################################*/
.bg-waiting{
	width: 1000px;
    height: 450px;
    background: linear-gradient(to right, #130177 , #1966f7);
    position: relative;
    transform: rotate(-8deg);
    top: -70px;
    left: -70px;
}
.mainlogo{
	margin:auto;
	width: 320px;
    height: 95px;
	background-image: url(media/img/logo-big.png);
	background-repeat: no-repeat;
	margin-top: 70px;
}
.content-waiting p{
	margin-top: 70px;
}
.content-waiting{
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	width: 410px;
	position: absolute;
	left: 50%;
	text-align: center;
	margin-left: -205px;
	font-size: 30px;
	color: rgb(255, 255, 255);
}
.content-waiting span{
	color: #ffffff;
}
#fingerprint-content{
	position: relative;
	margin:auto;
	margin-top: 127px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border:4px solid #0084ff;
	cursor: pointer;
	overflow: hidden;
	transition-duration: 0.2s;
}
#fingerprint-content:hover{
	border:4px solid #1900ff;
}
.fingerprint-default{
	position: absolute;
    width: 120px;
    height: 120px;
    background-image: url(media/img/fingerprint.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.2;
    transition-duration: 1.2s;
}
.fingerprint-active{
	position: absolute;
    width: 120px;
    height: 0px;
    background-image: url(media/img/fingerprint.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    transition-duration: 1.2s;
    bottom: 0;
}
.fingerprint-active.active{
    height: 120px;
}
.fingerprint-bar{
	width: 126px;
    height: 3px;
    border-radius: 3px;
    background-color: #1a4bee;
    position: absolute;
    bottom: -3px;
    transition-duration: 1.2s;
}
.fingerprint-bar.active{
    bottom: 123px;
}
.parale-4{
	width: 627px;
    height: 150px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: rgb(255, 255, 255);
    opacity: 0.1;
}
.cont-p-4{
	transform: rotate(-1deg);
    position: absolute;
    left: -35px;
    top: -25px;
}
.parale-5{
	width: 397px;
    height: 70px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: rgb(255, 255, 255);
    opacity: 0.1;
}
.cont-p-5{
	transform: rotate(-1deg);
    position: absolute;
    left: 830px;
    top: 98px;
}
.parale-6{
	width: 397px;
    height: 70px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: rgb(255, 255, 255);
    opacity: 0.1;
}
.cont-p-6{
	transform: rotate(-1deg);
    position: absolute;
    left: -28px;
    top: 366px;
}
.parale-7{
	width: 397px;
    height: 70px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.1;
}
.cont-p-7{
	transform: rotate(-1deg);
    position: absolute;
    left: 272px;
    top: 416px;
}
#result{
    position: absolute;
    top: 20px;
    width: 820px;
    padding: 25px 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.alert-green{
	background: #7cb732;
}

.alert-orange{
	background: #e5873b;
}
