# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

## ESX ADD ##
set mysql_connection_string "server=localhost;database=sesx;userid=db_user;password=db_pass;"

setr esx_MenuAlign "top-right" ## As required by esx_advancedvehicleshop

# These resources will start by default.
ensure chat
ensure spawnmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard
ensure bob74_ipl

## ESX ADD ##
ensure mysql-async
ensure async
ensure es_extended

ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog

#ensure esx_kashacters
ensure gcphone
ensure cron
ensure instance
ensure esx_voice
ensure esx_datastore
ensure skinchanger
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_identity
ensure esx_license
ensure esx_service
ensure esx_skin
ensure esx_society
ensure esx_status
ensure esx_billing
ensure new_banking
ensure esx_rpchat
ensure esx_optionalneeds
ensure esx_animations
ensure esx_licenseshop
ensure esx_advancedvehicleshop
ensure esx_advancedgarage
ensure esx_policejob
ensure esx_ambulancejob
ensure esx_bankerjob
ensure esx_realestateagentjob
ensure esx_taxijob
ensure esx_barbershop
ensure esx_accessories
ensure esx_property
ensure esx_holdup
ensure esx_dmvschool
ensure esx_shops
ensure esx_drugs
ensure esx_jobs
ensure esx_joblisting
ensure esx_weaponshop
ensure esx_clotheshop
ensure esx_lscustom
ensure esx_trunk

## END ESX ADD ##

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "en-US" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "sESX Unconfigured Server found at s-esx.com"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:000000000000000 group.admin #change to your steamhex
## ESX ADD ##
add_principal group.admin group.user
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
## END ESX ADD ##

# Hide player endpoints in external log output.
sv_endpointprivacy false

# enable OneSync with default configuration (required for server-side state awareness)
#set onesync legacy

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "steamkeyhere"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey server_key_goes_here
